<p class="title is-1">About Us
</p>

<div align="center">
<p class="subtitle is-4">
Autopex International is an exporter and manufacturer of auto-parts. We are based in Delhi, India. Autopex is a family-owned business and has been passed along for multiple generations. Our manufacturing plants are in India. The products exported are 100% genuine as we care deeply about our customer satisfaction. We endeavour to become a pioneer.in the automotive parts industry   
</p>
</div>


<br>
<span class="icon">
<i class="fa fa-users fa-3x"></i>
</span>
<p class="title is-3">Сollaboration</p>

<p class="subtitle is-5">
Our distributors, customers and staff are interdependent partners.
</p>
<br>
<span class="icon">
<i class="fa fa-lightbulb-o fa-3x"></i>
</span>
<p class="title is-3">Innovation</p>

<p class="subtitle is-5">
We aim to introduce new solutions to provide customers with the finest experience.
</p>
<br>
<span class="icon">
<i class="fa fa-line-chart fa-3x"></i>
</span>
<p class="title is-3">High quality</p>

<p class="subtitle is-5">
Our constant attention to the smallest details makes our products genuine.
</p>
<br>
<span class="icon">
<i class="fa fa-user-plus fa-3x"></i>
</span>
<p class="title is-3">Accountability</p>

<p class="subtitle is-5">
The accountability of everyone is a prerequisite for our sustainable setting.
</p>
<br>





<a class="subtitle is-3">
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Years been serving </p>
      <p class="title">35</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Customers</p>
      <p class="title">124</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Countries shipped</p>
      <p class="title">29</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">No. of Employees</p>
      <p class="title">307+</p>
    </div>
    </figure>
<p class="level-item has-text-centered">
<figure class="image is-16x16">
</figure>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Customer Satisfaction</p>
      <p class="title">100%</p>
    </div>
  </div>
</nav>
</a>

