<p class="title is-1">Contact Page
<span class="icon">
    <i class="fa fa-address-book-o"></i>
</span>
</p>
<div align="left">

<p class="title is-3">Adresss
<span class="icon">
<i class="fa fa-map-marker"></i>
</span></p>
<p class="subtitle is-5"> 468, Dev Motor Market, Kashmere Gate, New Delhi, 110006</p><br>


<p class="title is-3">Phone/Fax
<span class="icon">
<i class="fa fa-phone"></i>
</span></p>
<p class="subtitle is-5">
        +91 11 23965153<br>Fax: 	91-11-27188162</p><br>


<p class="title is-3">Email ID
<span class="icon">
<i class="fa fa-envelope-o"></i>
</span></p>
<p class="subtitle is-5">autopexinternational@yahoomail.co.in or click <a href="mailto:autopexinternational@yahoomail.co.in">HERE</a></p>          
</div>
<br>
<a href="https://goo.gl/maps/sacN9e7kgQiKKfTE9">
    <img border="0" alt="map" src="/images/map.png" width="720" height="240">
    </a>

