<p class="title is-1">Home
        <span class="icon">
                <i class="fa fa-home"></i>
        </span>
 </p>
<br>
<p class="subtitle is-4">
        Autopex International is an exporter and manufacturer of auto-parts. Our manufacturing plants are in India. The products exported are 100% genuine as we care deeply about our customer satisfaction. We endeavour to become a pioneer.in the automotive parts industry.

    <br>
     We are a family-owned business. We manufacture auto motive parts and export it worldwide.

</p>
<br><br>

<nav class="level">

        <p class="level-item has-text-centered"></p>
<figure class="image is-128x128">
        <img src="/images/ac pin kit.jpg">
</figure>
</p>
<p class="level-item has-text-centered">
<figure class="image is-128x128">
        <img src="/images/bs spring.jpg">
</figure>
</p>
<p class="level-item has-text-centered"></p>
<figure class="image is-128x128">
        <img src="/images/gasket3.jpg">
</figure>
</p>
<p class="level-item has-text-centered">
<figure class="image is-128x128">
        <img src="/images/gasket2.jpg">
</figure>
</p>
</nav>
<br>

<a href="https://goo.gl/maps/sacN9e7kgQiKKfTE9">
    <img border="0" alt="map" src="/images/map.png" width="720" height="240">
    </a>