<p class="title is-1">Carburetor Gasket
</p>
<figure class="image is-256x256">
    <img src="/images/gasket2.jpg">
  </figure>

<p class="subtitle is-4">
    A carburetor (American English) or carburettor (British English) is a device that mixes air and fuel for internal combustion engines in the proper air–fuel ratio for combustion.



</p>


<table width="200" border="3.5" align="center" cellpadding="2" bordercolor="#000000">
  <tr>
    <td width="95">
      <h3 class="subtitle is-3">Name</h3>
    </td>
    <td width="110">
      <h3 class="subtitle is-3">Price</h3>
    </td>
  </tr>
  <h4 class="subtitle is-4">
  <tr>
    <td>Big</td>
    <td>$1.71</td>
  </tr>
  <tr>
    <td>Small</td>
    <td>$1.83</td>
  </tr>
  <tr>
    <td>Saga</td>
    <td>$2.91</td>
  </tr>
  <tr>
    <td>Iswara</td>
    <td>$1.14</td>
  </tr>
  <tr>
    <td>Zenith</td>
    <td>$2.03</td>
  </tr>
</h4>
</table>