<p class="title is-1">Products
<span class="icon">
<i class="fa fa-book"></i>
</span>
</p>

<nav class="level">

  <p class="level-item has-text-centered">
  <figure class="image is-128x128">
  <img src="/images/gasket2.jpg">
  <h5 class="subtitle is-5"><a href="/pl1">Carburetor Gasket</a></h5>
</figure>
<p class="level-item has-text-centered">
<figure class="image is-32x32">
</figure>
</p>
  <p class="level-item has-text-centered">
  <figure class="image is-128x128">
  <img src="/images/bs spring.jpg">
  <h5 class="subtitle is-5"><a href="/pl2">B. S. Spring</a></h5>
</figure>
  </p>
  <p class="level-item has-text-centered">
<figure class="image is-32x32">
</figure>
</p>
  <p class="level-item has-text-centered">
  <figure class="image is-128x128">
  <img src="/images/ac pin.jpg">
  <h5 class="subtitle is-5"><a href="/pl3">A. C. Pin</a></h5>
</figure>  
</p>
<p class="level-item has-text-centered">
<figure class="image is-32x32">
</figure>
</p>
  <p class="level-item has-text-centered">
  <figure class="image is-128x128">
  <img src="/images/ac pin kit.jpg">
  <h5 class="subtitle is-5"><a href="/pl4">A. C. Pin Kit</a></h5>
</figure>  
</p>
<p class="level-item has-text-centered">
<figure class="image is-32x32">
</figure>
</p>
  <p class="level-item has-text-centered">
  <figure class="image is-128x128">
  <img src="/images/gasket ring.jpg">
  <h5 class="subtitle is-5"><a href="/pl5">Gasket Ring</a></h5>
</figure>  
</p>
</nav>



