<p class="title is-1">Gasket Ring
</p>

<figure class="image is-256x256">
        <img src="/images/gasket ring.jpg">
    </figure>

<p class="subtitle is-4">
        Ring Gaskets are suitable for high pressure and high temperature applications. A full face gasket covers the entire flange face and includes bolt holes, typically used in flat faced flanges. A gasket for a raised face flange is typically a RING gasket.



</p>


<table width="200" border="3.5" align="center" cellpadding="2" bordercolor="#000000">
  <tr>
    <td width="95">
      <h3 class="subtitle is-3">Name</h3>
    </td>
    <td width="110">
      <h3 class="subtitle is-3">Price</h3>
    </td>
    <tr>
            <td>MI 180 </td>
            <td>$1.10</td>
          </tr>
          <tr>
            <td>MI 160 </td>
            <td>$1.25</td>
          </tr>
          <tr>
            <td>MI 140 </td>
            <td>$1.50</td>
          </tr>
          <tr>
            <td>MI 220 </td>
            <td>$1.50</td>
          </tr>
          <tr>
            <td>MI 100</td>
            <td>$1.39</td>
          </tr>
          <tr>
            <td>MI 120</td>
            <td>$1.30</td>
          </tr>
          <tr>
            <td>MI 080</td>
            <td>$1.30</td>
          </tr>
</h4>
</table>