<p class="title is-1">A. C. Pin
</p>

<figure class="image is-256x256">
        <img src="/images/ac pin.jpg">
    </figure>

<p class="subtitle is-4">
A. C. pins also are one of the most widely used and demanded products of our company which we are efficiently manufacturing, supplying, distributing, wholesaling and trading in different regions of the country. These charger AC pins have been designed and constructed in an excellent manner at our company which is guaranteed for a long term use. We have manufactured these charger AC pins using top grade raw materials.



</p>
<table width="200" border="3.5" align="center" cellpadding="2" bordercolor="#000000">
        <tr>
          <td width="95">
            <h3 class="subtitle is-3">Name</h3>
          </td>
          <td width="110">
            <h3 class="subtitle is-3">Price</h3>
          </td>
        </tr>
        <h4 class="subtitle is-4">
<tr>
        <td>35mm</td>
        <td>$0.10</td>
      </tr>
      <tr>
        <td>50mm</td>
        <td>$0.25</td>
      </tr>
      <tr>
        <td>55mm</td>
        <td>$0.50</td>
      </tr>
      <tr>
        <td>60mm</td>
        <td>$0.65</td>
      </tr>
      <tr>
        <td>84mm</td>
        <td>$0.39</td>
      </tr>
      <tr>
        <td>87mm</td>
        <td>$0.30</td>
      </tr>
      </h4>
    </table>