<p class="title is-1">B. S. Spring
</p>

<figure class="image is-256x256">
        <img src="/images/bs spring.jpg">
    </figure>

<p class="subtitle is-4">
        A spring is an elastic object that stores mechanical energy. Springs are typically made of spring steel. There are many spring designs. In everyday use, the term often refers to coil springs. BS Spring Industries, are acknowledged in the industry as one of the leading organizations, engrossed in manufacturing and supplying a comprehensive range of Shocker Spring, Metal Spring, Torsion Springs and Compression Spring. Our offered range comprises Centre Spring FZ, E- Rickshaw Break Paddle Spring, E- Rickshaw Break Shoe Spring, Coil Spring and Cylinder Compression Spring E-Rickshaw. High strength, fine finish, lightweight, easy installation and durability are some of the features of our offered range of springs.



</p>


<table width="200" border="3.5" align="center" cellpadding="2" bordercolor="#000000">
  <tr>
    <td width="95">
      <h3 class="subtitle is-3">Name</h3>
    </td>
    <td width="110">
      <h3 class="subtitle is-3">Price</h3>
    </td>
  </tr>
  <h4 class="subtitle is-4">
  <tr>
              <tr>
              <td>V-57-1860</td>
              <td>$0.25</td>
            </tr>
            <tr>
              <td>NPR-1860</td>
              <td>$0.26</td>
            </tr>
            <tr>
              <td>V-99-1860</td>
              <td>$0.96</td>
            </tr>
            <tr>
              <td>NHR-1860</td>
              <td>$0.77</td>
            </tr>
            <tr>
              <td>   1</td>
              <td>$0.35</td>
            </tr>
            <tr>
              <td>   2</td>
              <td>$0.95</td>
            </tr>
            <tr>
              <td>   3</td>
              <td>$0.78</td>
            </tr>
            <tr>
              <td>   4</td>
              <td>$0.46</td>
            </tr>

</h4>
</table>